/Curl/nbproject/private/
/Curl/build/
/App/build/
/IncludeTag/nbproject/private/
/IncludeTag/build/
/MVCModel1/nbproject/private/
/MVCModel1/build/
/MVCModel2PRG/nbproject/private/
/MVCModel2PRG/build/
/JPSForward/nbproject/private/
/JPSForward/build/
/JSPJavaBean/nbproject/private/
/JSPJavaBean/build/
/MavenWeb/target/
/SpringMVCDemo/target/
/Maven1/target/
/mavenproject4/target/
/TestingMaven/target/
/MavenPreject/target/
/Testing/nbproject/private/
/Testing/target/
/mavenproject2/target/
/Testing19/nbproject/private/
/Testing19/build/
/SpringTest/nbproject/private/
/SpringTest/dist/
/SpringTest/build/
/mavenproject1/target/
/TestingApp/target/
/TestingMavenWebApp/target/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/TestMaven/target/
/TestMaven1/target/
/application2/nbproject/private/
/application2/build/
/SpringMvc/nbproject/private/
/SpringMvc/build/
/SpringMvcFileUpload/target/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/WebApplication3/nbproject/private/
/WebApplication3/build/
/SpringMvcFileUpload/nbproject/private/
/SpringMvcFileUpload/build/
/BlogProject/nbproject/private/
/BlogProject/build/
/AssignmentStudentRecords/target/
/AssignmentStudentsRecord/target/
